h1 {
    color: brown;
    text-transform: uppercase;
}
body {
    background-color: antiquewhite;
    text-align: center;
}

table,
td {
    border: 1px solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}
td,th {
    padding: 5px;
}
td {
    text-align: left;
}
table {
    margin: 20px auto;
    font-size: 20px;
}
#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
    font-size: larger;
}
#chain {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
}
ul {
    list-style: none;
}
#results {
    display: none;
}
