body {
    background-color: antiquewhite;
    text-align: center;
}
.header {
    text-transform: capitalize;
}
.header, .owner {
    color: brown;
}
button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: sandybrown;
}

table,
td {
    border: 1px solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}
td,th {
    padding: 5px;
}
table {
    margin: 20px auto;
}